<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Si la petición no es un archivo ni un directorio real, redirigir a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>